main {
  min-height: 80vh;
}

.rating span {
  margin: 0.04rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.v-align {
  display: flex;
  align-items: center;
}

.h-align {
  display: flex;
  justify-content: center;
}

/* Responsive CartScreen */
@media screen and (max-width: 768px) {
  .cart-text {
    justify-content: center;
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .btn-Icon-Checkout {
    display: none;
  }
  .btn-Icon-Remove {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .btn-Text-Remove {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .btn-Icon-Checkout {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .btn-Text-Checkout {
    display: none;
  }
}
