main {
  min-height: 80vh;
}

.rating span {
  margin: 0.04rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.v-align {
  display: flex;
  align-items: center;
}

.h-align {
  display: flex;
  justify-content: center;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Home Screen */
@media screen and (min-width: 692px) {
  .card-title {
    position: relative;
    /* overflow: hidden; */
    max-height: 50px;
    min-height: 50px;
    line-height: 22px;
    /* overflow-wrap: break-word; */
    width: 100%;
  }
}

/* Profile Screen */
.nav-item {
  margin: 0rem;
}

.profileTabs > .nav-item {
  color: white !important;
}

.profileTabs > .nav-link.active {
  color: black !important;
}

#sidebarProfile {
  background-color: #c6c8ca !important;
}

.order-4:hover,
.caret-4-asc:hover,
.caret-4-desc:hover {
  cursor: pointer;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-4:before {
  margin-left: 3.5px;
  content: '\2191';
  opacity: 0.4;
}

.order-4:after {
  content: '\2193';
  opacity: 0.4;
}

.caret-4-asc:before {
  margin-left: 3.5px;
  content: '\2191';
}

.caret-4-asc:after {
  content: '\2193';
  opacity: 0.4;
}

.caret-4-desc:before {
  margin-left: 3.5px;
  content: '\2191';
  opacity: 0.4;
}

.caret-4-desc:after {
  content: '\2193';
}

.filter-label {
  margin-left: 2rem !important;
  margin-bottom: 0rem !important;
}

@media screen and (max-width: 992px) {
  .filter-label {
    display: none;
  }
  .hide-md {
    display: none;
  }
}

/* Responsive Cart Screen */
@media screen and (max-width: 768px) {
  .cart-text {
    justify-content: center;
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .btn-Icon-Checkout {
    display: none;
  }
  .btn-Icon-Remove {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .btn-Text-Remove {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .btn-Icon-Checkout {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .btn-Text-Checkout {
    display: none;
  }
}
