.nav-wizard {
  margin-bottom: 0.2rem !important;
  text-align: center !important;
}

.dot {
  color: #c6c8ca;
  cursor: pointer;
  font-size: 36px;
  line-height: 1;
  margin: 0 15px;
  text-shadow: none;
  transition: opacity 1s ease, text-shadow 1s ease;
  will-change: opacity, text-shadow;
}

.active-wizard {
  color: #1f9bcf;
  opacity: 1;
  text-shadow: 0 0px 8px;
}
